.grid {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	justify-content: flex-start;
	align-items: center;
	padding: 2rem 5rem;
	overflow: auto;
}

.table {
	width: 100%;
	order: 1;
}

.doughnut {
	width: 40%;
	order: 2;
	padding-right: 3rem;
}

.bar {
	width: 60%;
	order: 3;
	padding: 2rem;
}
