.grid {
	display: grid;
	grid-template-rows: 1fr;
}

.row {
	display: grid;
	grid-template-columns: 15rem 12rem 12rem;
	padding: 0.3rem;
	width: min-content;
}

.row:first-child,
.row:last-child {
	font-weight: 700;
}

.row:first-child {
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.row:last-child {
	border-top: 1px solid rgba(0, 0, 0, 0.4);
}
